@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  padding: 5rem 0;
}

.container{
  max-width: 900px;
  margin: auto;

}




.blog-cards-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}

.blog-card{
  max-width: 100%;

  display: flex;
  flex-direction: column;


}

.blog-card img{
  width: 100%;
  /* height: 400px; */
  height: 200px;
  object-fit: cover;
  margin-bottom: 20px;

  border-radius: 5px;


}

.blog-card__title{
  font-weight: bold;
  font-size: 20px;
  width: 100%;
  max-width: 100%;


  text-overflow: ellipsis;
  text-wrap: nowrap;

  overflow: hidden;


  margin-bottom: 10px;

}

.blog-card__description{
  font-size: 14px;
  margin-bottom: 10px;


}

.blog-card a{
  margin-top: auto;
  color: blueviolet;
}


.full-blog-post-content h2,
.full-blog-post-content h3,
.full-blog-post-content h4,
.full-blog-post-content h5,
.full-blog-post-content h6{
  font-weight: bold;
  font-size: 20px;
  margin: 2rem 0 10px;

}

.full-blog-post-content ul{
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style: decimal;

  margin: 20px 0;

}